

<!-- include header -->
<%- include('includes/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">Customer Homepage</h2>
        </div>
        <div class="home-box d-flex">
            <div class="home-img-box">
                <img class="home-img" src="/img/undraw_code_review_l1q9.svg" alt="home-image">
            </div>
            <div class="home-text-box">
                <div class="home-text-welcome">Welcome</div>
                <div class="home-text-name"><%=  name  %></div>
                <form action="/" method="POST" class="logout-btn-form">
                    <button class="logout-btn">Logout</button>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('includes/_footer') %>
<!-- /include footer -->







