<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="form-title text-center">
                <h2 class="text-dark">New Customer</h2>
                <span class="text-light">Use the below form to create a new account</span>
            </div>

            <form action="/customer/signup" method="POST" id="add_customers">
                <div class="new_user">
                    <div class="form-group">
                        <input type="text" name="" value="Email already exists"
                            class="<%= emailExists === true ? 'emailExists' : 'emailExists_disable' %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter customer name">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="Enter customer email">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male">
                            <label for="radio-2" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female">
                            <label for="radio-3" class="radio-label">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light">Password</label>
                        <input type="password" name="password" value="" placeholder="Enter customer password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">SignUp</button>
                    </div>

                </div>
            </form>

        </div>
    </main>
    <div class="signup-link">
        <div class="d-flex ">
            Already have an account? <a href="/" class="ml-2">&nbsp&nbsp Log In</a>
        </div>
    </div>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->