

<!-- include header -->
<%- include('customer/includes/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">404 Page not found</h2>
        </div>
        <div class="home-box d-flex">
            <div class="home-img-box">
                <img class="home-img" src="/img/404.png" alt="404-image">
            </div>
            <div class="home-text-box">
                <div class="home-text-welcome">404</div>
                <div class="home-text-name">Page not found</div>
                <form action="/" method="GET" class="logout-btn-form">
                    <button class="logout-btn">Back</button>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('customer/includes/_footer') %>
<!-- /include footer -->







